<div>
  <step-navigation src='https://hikkoshizamurai.jp/images/request/sp/form/samurai_flow_first.png' />
  <p class='header-banner'>
    <img src='https://hikkoshizamurai.jp/images/request/sp/form/banner05.png' alt='簡単1分！の情報入力で一番安い見積もりが分かる！' class='full'>
  </p>
  <h2 class='heading-bar'>お荷物情報</h2>
  <p class='lead'>
    お荷物詳細が決まっていない方、訪問見積もりを希望されている方はお荷物情報は未入力のままお進みください。
  </p>

  <section>
    <h3 class='heading-form'>
      <div class='heading-form-inner'>リビング周り</div>
    </h3>
    <ul class='form-section clearfix'>
      <li class='box' 
          v-for='(item, index) in furniture'
          :key='item.name'>
        <div class='box-header'></div>
        <div class='box-body'>
          <img class='box-img-furniture' src='https://hikkoshizamurai.jp/images/request/new/furniture23.png'>
          <counter v-bind='item'                  
                   @increment='incrementValue' 
                   @decrement='decrementValue' 
                   @changeInput='changeValue' />
        </div>
      </li>
    </ul>
    <h3 class='heading-form'>
      <div class='heading-form-inner'>エアコン</div>
    </h3>
    <ul class='form-section clearfix'>
      <li class='box full' 
          v-for='(item, index) in furniture'
          :key='item.name'>
        <div class='box-header'></div>
        <div class='box-body'>
          <img class='box-img-furniture' src='https://hikkoshizamurai.jp/images/request/new/furniture23.png'>
          <counter v-bind='item'                  
                   @increment='incrementValue' 
                   @decrement='decrementValue' 
                   @changeInput='changeValue' />
        </div>
      </li>
    </ul>
  </section>
</div>