.counter {
  display: inline-block;

  & > * {
    display: inline-block;
    text-align: center;
  }
  
  .counter-value {
    width: 20%;
    margin: 0 6%;

    .counter-value-input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 18px;
      text-align: center;
    }
  }
  
  .counter-btn {
    width: 34%;
    text-align: center;
    font-size: 30px;
    height: 37px;
    line-height: 32px;
    font-weight: bold;
    margin: 0 auto;
    background: #ccc;
    color: #dadada;
    border-radius: 7px;
    border: 1px solid #ccc;
  }

  .counter-increment {

  }
  .counter-decrement {

  }
}