.counter {
  display: block;

  & > * {
    display: inline-block;
    text-align: center;
  }
  
  .counter-value {
    width: 20%;
    margin: 0 6%;
    vertical-align: middle;

    .counter-value-input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 18px;
      text-align: center;
    }
  }
  
  .counter-btn {
    width: 34%;
    text-align: center;
    font-size: 30px;
    height: 37px;
    line-height: 32px;
    margin: 0 auto;
    background: #ccc;
    color: #dadada;
    border-radius: 7px;
    border: 1px solid #ccc;
    vertical-align: middle;

    &.is-active {
      background: linear-gradient(to bottom, rgba(255 ,255, 204, 1) 0%,rgba(255, 242, 174, 1) 100%);
      color: #646400;
      border: 1px solid #ede5a3;
    }
  }

  .counter-increment {

  }
  .counter-decrement {

  }
}
