/* layouts */
.full { 
  width: 100% !important;
}

.half {
  width: 50% !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-bottom-5 {
  margin-bottom: 5px !important;
}

.l-bottom-10 {
  margin-bottom: 10px !important;
}

.l-bottom-15 {
  margin-bottom: 15px !important;
}

.l-bottom-20 {
  margin-bottom: 20px !important;
}

.l-bottom-25 {
  margin-bottom: 25px !important;
}
