.btn {
  display: block;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  text-shadow: 1px 1px 0 #528002;
  background: linear-gradient(to bottom, #68d84f 0%,#55c53b 54%,#36ab1b 100%);
  border: 1px solid #36ab1b;
  border-radius: 5px;
}
