.labelbox {
  & > li {
    position: relative;

    &:nth-child(odd) {
      padding-right: 5px;
    }
    &:nth-child(even) {
      padding-left: 5px;
    }
    .labelbox-item {
      display: block;
      padding: 8px 4% 6px;
      min-height: 73px;
      text-align: center;
      font-size: 14px;
      border: 1px solid #bbb;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 44%, rgba(242, 242, 242, 1) 93%, rgba(255, 255, 255, 1) 100%);
      border-radius: 5px;
    }
    .labelbox-input {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    .labelbox-image {
      width: 30px;
    }
    .labelbox-text {
      transform: translateY(80%);
    }
  }
}