.note {
  background-color: #edf7ff;
  border: 1px solid #ccc;
  padding: 10px 8px;
  .note-text {
    font-size: 13px;
    line-height: 1.3;
  }
  .note-title {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 1;
  }
  .note-table {
    th, td {
      font-size: 12px;
    }
  }
}