.text-13 {
  font-size: 13px !important;
}

.text-12 {
  font-size: 12px !important;
}

.text-11 {
  font-size: 11px !important;
}

.text-accent {
  color: red;
}

.text-strong {
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}
