<div>
  <step-navigation src='https://hikkoshizamurai.jp/images/request/sp/form/samurai_flow_first.png' />
  <p class='header-banner'>
    <img src='https://hikkoshizamurai.jp/images/request/sp/form/banner05.png' alt='簡単1分！の情報入力で一番安い見積もりが分かる！' class='full'>
  </p>
  <p class='lead'>
    入力情報をもとに「引越し業者に対してまとめて見積もりの依頼」と「あなたの引越しの相場」を算出します。以下の項目を入力してください。
  </p>
  <h3 class='heading-form'>
    <div class='heading-form-inner'>
      現在お住まいの郵便番号
      <br>
      <span class='heading-form-caption'>－（ハイフン）は不要です</span>
    </div>
  </h3>
  <div class='form-section'>
    <input maxlength='8' type='tel' placeholder='例）1500001' class='input full' v-model='models.current_zip_code'>
  </div>
  <h3 class='heading-form'>
    <div class='heading-form-inner'>
      お引越し先（新居）の都道府県
    </div>
  </h3>
  <div class='form-section'>
    <div class='select'>
      <select v-model='models.new_prefecture_id'>
        <option v-for="prefecture in settings.prefectures" v-bind:value="prefecture.value">
          {{ prefecture.text }}
        </option>
      </select>
    </div>
  </div>
  <h3 class='heading-form'>
    <div class='heading-form-inner'>
      引越しタイプ
    </div>
  </h3>
  <div class='form-section l-bottom-20'>
    <ul class='list-moveType clearfix'>
      <li>
        <label for='moveType1'>
          <div class='radio-moveType clearfix' :class="{ 'is-active': models.move_type == '1' }">
            <div class='radio-moveType-input'>
              <input name='move_type' type='radio' value='1' v-model="models.move_type" id='moveType1'>
            </div>
            <div class='radio-moveType-artwork'>
              <img class='radio-moveType-image' src='https://hikkoshizamurai.jp/images/request/sp/form/start_ic_single01.png' alt=''>
              <br> 単身
            </div>
          </div>
        </label>
      </li>
      <li>
        <label for='moveType2'>
          <div class='radio-moveType clearfix' :class="{ 'is-active': models.move_type == '2' }">
            <div class='radio-moveType-input'>
              <input name='move_type' type='radio' value='2' v-model="models.move_type" id='moveType2'>
            </div>
            <div class='radio-moveType-artwork'>
              <img class='radio-moveType-image' src='https://hikkoshizamurai.jp/images/request/sp/form/start_ic_family01.png' alt=''>
              <br> 家族
            </div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <div @click='updateStore'>click</div>
  <div class='form-section'>
    <router-link @click='updateStore' :to="{ name: 'first', params: { userId: 123 }}" class='btn'>次のページへ進む</router-link>
  </div>
</div>